@model MVCwithWebAPI.Models.Employee

@{
    ViewBag.Title = "Create Employee";
    Html.EnableClientValidation(true);
}

<h3>Create Employee</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")


    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault(); // Prevent the form from submitting normally

                // Perform client-side validation
                var name = $('#Name').val();
                var address = $('#Address').val();
                var gender = $('#Gender').val();
                var company = $('#Company').val();
                var designation = $('#Designation').val();

                if (name === '') {
                    alert('Please enter a name.');
                    return false; // Prevent form submission
                }

                if (address === '') {
                    alert('Please enter an address.');
                    return false; // Prevent form submission
                }

                if (gender === '') {
                    alert('Please select a gender.');
                    return false; // Prevent form submission
                }

                if (company === '') {
                    alert('Please enter a company name.');
                    return false; // Prevent form submission
                }

                if (designation === '') {
                    alert('Please enter a designation.');
                    return false; // Prevent form submission
                }

                // If all validation passed, submit the form
                this.submit();
            });
        });
    </script>
}
